body {
    font-family: sans-serif;
    margin-top: 60px;
    background-image: url("https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-0/p235x350/18485743_1318297438284668_8718323250134726122_n.jpg?oh=15554a69a47db738996ba22cc7cadf4b&oe=59B2BFAC");

}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: #4a4a4a;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.comment {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.commenter {
    font-style: italic;
    font-size: 0.8em;
}

#comment_form {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
